[submodule "DPP"]
	path = deps/DPP
	url = https://github.com/brainboxdotcc/DPP.git
[submodule "spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
